/* Mobile Button */

header .mobile-btn {
    width: 35px;
    position: relative;
    float: right;
    margin-top: 10px;
    z-index: 300;
    cursor: pointer;
}

header .mobile-btn.active {
    position: fixed;
    top: 0;
    right: 10px;
}

header .mobile-btn::before,
header .mobile-btn > div,
header .mobile-btn::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #19b898;
    border-radius: 50px;
    transition: .3s;
}

header .mobile-btn::before {
    margin-bottom: 5px;
}

header .mobile-btn > div {
    position: relative;
    left: 0;
    transition: .3s;
}

header .mobile-btn::after {
    margin-top: 5px;
}

header .mobile-btn.active::before {
    transform: rotateZ(45deg);
    transform-origin: 0 50%;
    position: relative;
    bottom: 3px;
    left: 5px;
}

header .mobile-btn.active div {
    opacity: 0;
    left: -50px;
}

header .mobile-btn.active::after {
    margin-top: 5px;
    transform: rotateZ(-45deg);
    transform-origin: 0 50%;
    position: relative;
    top: 2px;
    left: 5px;
}


/* End Mobile Button */

/* Mobile Menu */

header .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 100;
    opacity: .90;
    top: 0;
    right: -100%;
    transition: .3s;
    padding: 150px 50px 50px 50px;
}

header .mobile-menu.open {
    right: 0;
}

header .mobile-menu ul {
    text-align: center;
}

header .mobile-menu ul li {
    margin-bottom: 30px;
}

header .mobile-menu ul li a {
    display: inline-block;
    color: #19b898;
    font-size: 1.25em;
}

/* End Mobile Menu */